<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noxian Pool - Homepage</title>
        <link rel="stylesheet" href="/static/homepage.css">

    </head>

    <body>
        <div class="header">
            <div class="navigation-bar">
                <button onclick="goToHomepage()" class="home-button">Noxian Pool</button>
                <a href="/tournaments" class="nav-option">Tournaments</a>
                <a href="/contact" class="nav-option">Contact</a>
            </div>

            <div style="width: auto; display: flex; gap: 10px;">
                <button onclick="logOut()" class="auth-button">Logout</button>
            </div>
        </div>

        <div class="main-content">
            <section id="tournaments">
                <a href="/tournaments" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;font-weight: bold; font-size: 30px;">Upcomming tournaments</a>
                <p>This section includes information about tournaments.</p>
            </section>
    
            <section id="create-staffs">
                <a href="/create_staffs" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;font-weight: bold; font-size: 30px;">Upcomming tournaments</a>
                <p>Create staff accounts for the website.</p>
            </section>

            <section id="contact">
                <h2>Contact</h2>
                <p>Contact us via email: anhduyxh7@gmail.com</p>
            </section>
        </div>

        <script>
            function logOut() {
                window.location.href = "/logout";
            }

            function goToHomepage() {
                window.location.href = "/";
            }
        </script>
    </body>
</html>
