<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Noxian Pool - Homepage</title>
        <link rel="stylesheet" href="/static/tournaments.css">

    </head>

    <body>
        <div class="header">
            <div class="navigation-bar">
                <button onclick="goToHomepage()" class="home-button">Noxian Pool</button>
                <a href="/templates/common/tournaments.html" class="nav-option">Tournaments</a>
                <a href="/match_history" class="nav-option">Match History</a>
                <a href="/contact" class="nav-option">Contact</a>
            </div>

            <div style="width: auto; display: flex; gap: 10px;">
                <button onclick="goToLogin()" class="auth-button">Login</button>
                <button onclick="goToRegister()" class="auth-button">Register</button>
            </div>
        </div>

        <div class="main-content">
            <h1 class="header-text">Upcoming tournaments</h1>

            <!-- Tournaments Section -->
            <section id="tournaments">
                <h2>Tournaments</h2>
                <p>Tournament Name: {{t_name}}</p>
            </section>
        </div>

        <script>
            function goToLogin() {
                window.location.href = "/login";
            }

            function goToHomepage() {
                window.location.href = "/homepage";
            }

            function goToRegister() {
                window.location.href = "/register";
            }
        </script>
    </body>
</html>
