<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CG Pool - Homepage</title>
        <link rel="stylesheet" href="/static/homepage.css">

    </head>

    <body>
        <div class="navbar">
            <button onclick="goToHomepage()">CG Pool</button>
            <div style="width: auto; display: flex; gap: 20px;">
                <button onclick="goToLogin()">Login</button>
                <button onclick="goToRegister()">Register</button>
            </div>
        </div>

        <h1>Homepage</h1>

        <script>
            function goToLogin() {
                window.location.href = "/templates/login.html";
            }

            function goToHomepage() {
                window.location.href = "/templates/homepage.html";
            }

            function goToRegister() {
                window.location.href = "/templates/register.html";
            }
        </script>
    </body>
</html>
