<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&H Blog - Login</title>
</head>
<body>
    <center>
        <h1> <a href="/homepage">D&H Blog</a></h1>
        <h2>Log into your account</h2>

        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            <br>
            <br>
            <button type="submit">Login</button>
        </form>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <br>
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <p>You don't have an account? Please <a href="/register">register here</a>.</p>
    </center>
</body>
</html>
